@font-face {
    font-family: 'pokeFont';
    src: url('../assets/fonts/pokemonClassic.ttf');
}

html, body {
    background-color: #000;
    margin: 0px;
    font-size: 16px;
    font-family: 'pokeFont';
    text-shadow: 2px 1px 2px gray;
}

button {
    font-size: 16px;
    font-family: 'pokeFont';
    text-shadow: 2px 1px 2px gray;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #000;
}

.fade-in {
    animation: fadeIn 0.3s;
    -webkit-animation: fadeIn 0.3s;
    -moz-animation: fadeIn 0.3s;
    -o-animation: fadeIn 0.3s;
    -ms-animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}