@font-face {
    font-family: 'pokeFont';
    src: url('../assets/fonts/pokemonClassic.ttf');
}

html, body {
    background-color: #000;
    margin: 0;
    font-family: 'pokeFont';
}

/* media querys */
/* X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 576px) {/*X-Small None*/
    html, body {
        font-size: 3vw;
        text-align: center;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    html, body {
        font-size: 2.5vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html, body {
        font-size: 2vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    html, body {
        font-size: 2vw;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html, body {
        font-size: 1.5vw;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    html, body {
        font-size: 1.2vw;
    }
}
/* */

/* modificaciones a bootstrap */
.row>* {
    padding-right: 0;
    padding-left: 0;
}

.row {
    --bs-gutter-x: 0;
}
/* */

.fade-in {
    animation: fadeIn 0.3s;
    -webkit-animation: fadeIn 0.3s;
    -moz-animation: fadeIn 0.3s;
    -o-animation: fadeIn 0.3s;
    -ms-animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}